@mixin burgerBtn {
	content: '';
	position: absolute;
	right: 0;
	height: 3px;
	background-color: #fff;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: $heroShadow, url($bgImg);
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	background-color: $light-white;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
	&:focus-visible {
		outline-color: $mainColor;
	}
}

@mixin contactFormTitle {
	margin-bottom: 1.5em;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	color: $mainColor;
}

@mixin contactFormInfo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	padding: 0.7em 1.4em;
	background-color: $light-white;
	color: $dark;
	font-weight: 400;
	border: none;
	text-decoration: none;
	border-radius: 8px;
	font-size: 1.5rem;
}
