@mixin burgerBtn {
	content: '';
	position: absolute;
	right: 0;
	height: 3px;
	background-color: #fff;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: $heroShadow, url($bgImg);
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	background-color: $light-white;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
