@import './colors';
@import './components';
@import './mixins';

// basic restart

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	background-color: $pureWhite;
}

// basic classess

// nav

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $mainColor;
	box-shadow: 0px 3px 5px -2.5px rgba(0, 0, 0, 1);
	z-index: 9999999;
	&__navbar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
	}
	&__logo {
		width: 100%;
		height: 60px;
		object-fit: contain;
	}
	.burger-btn {
		padding: 0.8em;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 8px;
		background: transparent;
		transition: background-color 0.3s;
		overflow: hidden;
		&:hover .burger-btn__bars::after,
		&:hover .burger-btn__bars::before {
			width: 100%;
		}
		&:focus {
			outline: none;
			// border: 1px solid rgba(255, 255, 255, 0.8);
			background-color: rgba($pureWhite, $alpha: 0.2);
			border-radius: 8px;
		}
		&__box {
			position: relative;
			width: 30px;
			height: 20px;
		}
		&__bars,
		&__bars::after,
		&__bars::before {
			@include burgerBtn;
		}

		&__bars {
			top: 0;
			width: 100%;
		}
		&__bars::after {
			top: 8px;
			width: 70%;
		}
		&__bars::before {
			top: 16px;
			width: 50%;
			transition-delay: 0.1s;
		}
	}
	&__listMobile {
		position: absolute;
		right: 10px;
		top: 90px;
		padding: 0.5em 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		border-radius: 5px;
		background-color: $mainColor;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s;
		z-index: 99999;
		&-active {
			opacity: 1;
			box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 1);
			visibility: visible;
		}
	}
	&__itemMobile {
		padding: 0.25em 2.5em;
		line-height: 2.5em;
		min-height: 2.5em;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: $pureWhite;
		font-size: 1.4rem;
		font-weight: 700;
		transition: border-bottom 0.15s, background-color 0.15s;
		&:hover {
			background-color: rgba($pureWhite, $alpha: 0.2);
			box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
		}
	}
	&__listDesktop {
		display: none;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin: auto;
	}
	&__itemDesktop {
		padding: 1em 2em;
		text-decoration: none;
		color: $pureWhite;
		font-size: 1.4rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		transition: border-bottom 0.15s, background-color 0.15s;
		&:hover {
			background-color: rgba($pureWhite, $alpha: 0.2);
			box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
		}
	}
}

// Header

.header {
	position: relative;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 75vh;
	text-align: center;
	color: $pureWhite;
	@include heroImages('../img/fizjohq.jpg');
	background-attachment: scroll;
	&__title {
		margin-bottom: 0.25em;
		font-weight: 300;
		font-size: 4rem;
		text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
	}
	&__subtitle {
		font-weight: 300;
		font-size: 3rem;
		text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: $pureWhite;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}

// about-me

.aboutme {
	// background-color: #ffffff;
	// background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233a86ff' fill-opacity='0.33'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__textbox {
		padding: 2em 1em;
		margin-bottom: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $pureWhite;
		text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
		text-align: center;
		background-color: rgba($mainColor, $alpha: 0.8);
		box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);
		border-radius: 8px;
	}
	&__title {
		font-size: 4rem;
		font-weight: 700;
		margin-bottom: 0.3em;
	}

	&__subtitle {
		margin-bottom: 0.5em;
	}

	&__img {
		width: 200px;
		height: 200px;
		object-fit: cover;
		border-radius: 50%;
	}
}

// section features
.features {
	&__box {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $pureWhite;
		text-align: center;
		perspective: 1000px;
		&:hover {
			.features__box-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.features__box-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			background-position: center;
			transition: transform 1s, opacity 1s;
			box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);

			&--first {
				background-image: $heroShadow, url('../img/card1lq.jpg');
			}
			&--second {
				background-image: $heroShadow, url('../img/card2lq.jpg');
			}
			&--third {
				background-image: $heroShadow, url('../img/card3lq.jpg');
			}
			&--fourth {
				background-image: $heroShadow, url('../img/card4lq.jpg');
			}
			&-icon {
				font-size: 4rem;
				margin-bottom: 1em;
			}

			&-title {
				font-size: 2.8rem;
			}
			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.5rem;
				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			padding: 2em;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: rgba($mainColor, $alpha: 0.8);
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;
			box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);
			&-description {
				padding: 2em;
				font-size: 1.7rem;
			}
		}
	}
}
// section offer

.offer {
	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__option {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 1em 0;
		box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		color: $dark;
		&-img {
			width: 100%;
			object-fit: cover;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&-info {
			background-color: $pureWhite;
			z-index: 10;
			padding: 2em;
			width: 100%;
		}
		&-title {
			margin-bottom: 0.5em;
			font-size: 2.2rem;
		}
		&-description {
			margin-bottom: 0.5em;
			font-size: 1.5rem;
		}
		&-price {
			margin-bottom: 0.5em;
			font-size: 2rem;
		}
		&-btn {
			margin-top: 1em;
			padding: 0.8em;
			font-size: 1.6rem;
			width: 100%;
			color: $pureWhite;
			background-color: $mainColor;
			border: none;
			border-radius: 8px;
			cursor: pointer;

			&::before {
				background-color: rgba($pureWhite, $alpha: 0.1);
			}
		}
	}
	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.7rem;
		border-radius: 8px;
		border: none;
		color: $pureWhite;
		background-color: $dark;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: rgba($pureWhite, $alpha: 0.1);
		}
	}
}

// section courses
.courses {
	&__box {
		position: relative;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		border-radius: 8px;
		transition: transform 0.3s, box-shadow 0.3s;
		box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);

		&:hover {
			transform: scale(0.95);
			box-shadow: 0px 1px 8px -3.5px rgba(0, 0, 0, 0.5);
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 8px;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&:hover::before {
			opacity: 1;
		}
		&:hover .courses__box-info {
			opacity: 1;
		}
		&-img {
			margin: auto;
			width: 100%;
			img {
				margin: 0 auto;
				object-fit: contain;
				width: 100%;
				height: auto;
			}
		}
		&-info {
			width: 100%;
			padding: 0.5em;
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		&-title {
			color: $pureWhite;
			font-size: 1.8rem;
			text-align: center;
		}
	}
}

.slick-track {
	align-items: stretch;
	display: flex; // or @include flexbox if you're using the flexbox mixin
}

.slick-slide {
	// align-items: stretch only works if the child height is undefined/auto!
	// slick slider's default is to give it height: 100%, which messes everything up
	height: auto;
	margin: 1.5em;
}

// section gallery
.gallery {
	&__accordion {
		display: flex;
		align-items: center;
		flex-direction: column;
		&-btn {
			padding: 1em;
			width: 100%;
			border: none;
			font-size: 1.7rem;
			border-radius: 8px;
			background-color: $dark;
			color: $pureWhite;
			text-align: left;
			text-transform: uppercase;
			cursor: pointer;
			&::before {
				background-color: rgba($pureWhite, $alpha: 0.1);
			}
			i {
				margin-right: 1.3em;
			}
		}
	}
	&__boxes {
		display: none;
		margin-top: 1em;
		max-width: 100%;

		&-item {
			margin: 1em;
			width: 250px;
			height: 250px;
			border-radius: 8px;
			transition: transform 0.3s;
			&:hover {
				transform: scale(0.95);
			}
		}
		&-img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			object-fit: cover;
		}
	}
	.active {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

// section contact

.contact {
	&__form {
		display: flex;
		flex-direction: column;
		&-top,
		&-bottom {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		&-label {
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}
		&-input {
			@include contactForm;
		}
		&-textarea {
			@include contactForm;
			min-height: 150px;
			resize: vertical;
		}
		&-btn {
			align-self: flex-start;
			padding: 1em;
			width: 100%;
			text-transform: uppercase;
			border: none;
			border-radius: 8px;
			max-width: 300px;
			color: $pureWhite;
			background-color: $mainColor;
			cursor: pointer;

			&::before {
				background-color: rgba($pureWhite, $alpha: 0.1);
			}
		}
	}
}

// ////////////////////////
// MEDIA
// ///////////////////////

@media (min-width: 576px) {
	.offer {
		&__option {
			flex-direction: row;
			&-img {
				width: 50%;
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 50%;
			}
			&-title {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		.burger-btn {
			display: none;
		}
		&__listMobile {
			display: none;
		}
		&__listDesktop {
			display: flex;
		}
	}
	.header {
		&__title {
			font-size: 4.5rem;
		}
		&__subtitle {
			font-size: 3.5rem;
		}
		&__btn {
			font-size: 1.5rem;
		}
	}
	.aboutme {
		&__box {
			flex-direction: row;
			justify-content: space-evenly;
		}
		&__textbox {
			align-items: flex-start;
			text-align: left;
			width: 50%;
		}
	}
	.features {
		&__boxes {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__box {
			margin: 1em;
			width: 40%;
			&-img {
				&--first {
					background-image: $heroShadow, url('../img/card1.jpg');
				}
				&--second {
					background-image: $heroShadow, url('../img/card2.jpg');
				}
				&--third {
					background-image: $heroShadow, url('../img/card3.jpg');
				}
				&--fourth {
					background-image: $heroShadow, url('../img/card4.jpg');
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.header {
		&__title {
			font-size: 4.9rem;
		}
		&__subtitle {
			font-size: 3.9rem;
		}
	}
}

@media (min-width: 1100px) {
	.features {
		&__box {
			width: 33%;
		}
	}
}
